<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>自动组卷</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
    <script src="/static/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/static/js/jquery.slim.min.js" charset="utf-8"></script>
    <script src="/static/js/popper.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/static/js/html2canvas.js" charset="utf-8"></script>
    <script src="/static/js/jspdf.debug.js" charset="utf-8"></script>
    <script src="/static/js/FileSaver.js" charset="utf-8"></script>
    <script src="/static/js/jquery.wordexport.js" charset="utf-8"></script>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'hover',
                html: true
            });
        })
    </script>
    <style>
        .popover {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>自动组卷</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">课程</label>
                            <div class="layui-input-inline" style="margin-right: 0;">
                                <input type="text" id="course" value="{{.plan.Course.Name}}" readonly="readonly"
                                       style="text-align: center;font-weight: bold;" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">试卷总分</label>
                            <div class="layui-input-inline">
                                <input type="text" id="paperScore" value="{{.plan.Score}}" readonly="readonly"
                                       style="text-align: center;font-weight: bold;" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">所属教师</label>
                            <div class="layui-input-inline">
                                <input type="button" id="user-info" value="{{.plan.User.Username}}" readonly="readonly"
                                       style="text-align: center;font-weight: bold;" class="layui-input">
                            </div>
                        </div>
                        <hr/>
                        <div class="layui-inline">
                            <h5>方案名称：</h5>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block" style="margin-left: 0">
                                <input type="text" name="plan-name" id="plan-name" autocomplete="off"
                                       readonly="readonly" value="{{.plan.PlanName}}" class="layui-input">
                            </div>
                        </div>
                        <hr/>
                        <div class="layui-inline">
                            <h5>试卷标题：</h5>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block" style="margin-left: 0">
                                <input type="text" name="paper-title" id="paper-title" autocomplete="off"
                                       readonly="readonly" value="{{.plan.PaperTitle}}" class="layui-input">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <fieldset class="table-search-fieldset" id="test-paper-preview-fieldset">
            <legend>试卷预览</legend>
            <div class="layui-form-item">
                <div class="layui-input-block" id="test-paper-area"
                     style="border-color: black;border-width: 1px;border-style:solid;margin: 0 0 0 0; padding:5% 5% 5% 5%;">
                    <span id="test-paper-preview"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <input style="float: right;" class="layui-btn layui-btn-normal" id="test-paper-export" type="button"
                       value="导出试卷"/>
            </div>
        </fieldset>
        <fieldset class="table-search-fieldset" id="test-paper-answer-preview-fieldset">
            <legend>答案预览</legend>
            <div class="layui-form-item">
                <div class="layui-input-block" id="test-paper-answer-area"
                     style="border-color: black;border-width: 1px;border-style:solid;margin: 0 0 0 0; padding:5% 5% 5% 5%;">
                    <span id="test-paper-answer-preview"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <input style="float: right;" class="layui-btn layui-btn-normal" id="test-paper-answer-export"
                       type="button" value="导出答案"/>
            </div>
        </fieldset>
        <script type="text/javascript">
            $(document).ready(function ($) {
                $("#test-paper-export").click(function (event) {
                    $("#test-paper-area").wordExport("试卷" + String((new Date()).valueOf()));
                });
                $("#test-paper-answer-export").click(function (event) {
                    $("#test-paper-answer-area").wordExport("答案" + String((new Date()).valueOf()));
                });
            });
        </script>
    </div>
</div>
<script>
    layui.$.ajax({
        type: 'POST',
        url: "/api/combine",
        data: {
            "course": {{.plan.Course.Id}},
            "title": "{{.plan.PaperTitle}}",
            "plan": {{.plan.Plan}},
            "score":{{.plan.Score}},
        },
        success: function (data) {
            if (data['paperHtml'] === "" && data['answerHtml'] === "") {
                return;
            }
            $("#test-paper-preview-fieldset").show();
            $("#test-paper-answer-preview-fieldset").show();
            if (data['success'] === true) {
                $("#test-paper-preview").html(data['paperHtml']);
                $("#test-paper-preview img").attr("crossorigin", "anonymous");
                $("#test-paper-answer-preview").html(data['answerHtml']);
                $("#test-paper-answer-preview img").attr("crossorigin", "anonymous");
            } else {
                $("#test-paper-preview").html("<strong>组卷出现错误，详情：</strong><br/>" + data['paperHtml']);
                $("#test-paper-answer-preview").html("<strong>组卷出现错误，详情：</strong><br/>" + data['answerHtml']);
            }
        },
        dataType: "json"
    });

    layui.$("#user-info").on("click", function () {
        layer.open({
            title: '{{.plan.User.Username}}',
            type: 2,
            shade: 0.2,
            maxmin: false,
            area: ['920px', '330px'],
            shadeClose: true,
            content: '/user/{{.plan.User.Username}}',
        });
    })
</script>
</body>
</html>