<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>手动组卷</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
    <script src="/static/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/static/js/jquery.slim.min.js" charset="utf-8"></script>
    <script src="/static/js/popper.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/static/js/html2canvas.js" charset="utf-8"></script>
    <script src="/static/js/jspdf.debug.js" charset="utf-8"></script>
    <script src="/static/js/FileSaver.js" charset="utf-8"></script>
    <script src="/static/js/jquery.wordexport.js" charset="utf-8"></script>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'hover',
                html: true
            });
        })
    </script>
    <style>
        .popover {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>手动组卷</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">课程</label>
                            <div class="layui-input-inline" style="margin-right: 0;">
                                <select id="course" lay-filter="courseFilter">
                                    <option value="0" selected>请选择</option>
                                    {{range $i, $v := .courseList}}
                                        <option value="{{$v.Id}}">{{$v.Name}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">试卷总分</label>
                            <div class="layui-input-inline">
                                <input type="text" id="paperScore" value="0" readonly="readonly"
                                       style="text-align: center;font-weight: bold;" class="layui-input">
                            </div>
                        </div>
                        <hr/>
                        <div class="layui-inline">
                            <h5>请输入试卷标题：</h5>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block" style="margin-left: 0">
                                <input type="text" name="paper-title" id="paper-title" autocomplete="off"
                                       placeholder="请输入试卷标题" class="layui-input">
                            </div>
                        </div>
                        <hr/>
                        <div class="layui-row">
                            <div class="layui-col-xs7">
                                <h4>请输入题型及分值
                                    <i data-container="body" data-toggle="popover" data-placement="right"
                                       data-content="请确保每个题型的分值都是一样的，否则生成的试卷会出现显示错误<hr/>若某行的数量或单个分值为空，则该行无效"
                                       class="fa fa-question-circle"></i>
                                </h4>
                                <table class="layui-hide" id="table4Combine" lay-filter="table4CombineFilter"></table>
                            </div>
                            <div class="layui-col-xs5">
                                <h4>题库现有题型及分值</h4>
                                <table class="layui-hide" id="questionBank"></table>
                            </div>
                        </div>
                    </div>
                    <button class="layui-btn" type="button" onclick="doCombine()"> 组 卷</button>
                </form>
            </div>
        </fieldset>
        <fieldset class="table-search-fieldset" id="test-paper-preview-fieldset">
            <legend>试卷预览</legend>
            <div class="layui-form-item">
                <div class="layui-input-block" id="test-paper-area"
                     style="border-color: black;border-width: 1px;border-style:solid;margin: 0 0 0 0; padding:5% 5% 5% 5%;">
                    <span id="test-paper-preview"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <input style="float: right;" class="layui-btn layui-btn-normal" id="test-paper-export" type="button"
                       value="导出试卷"/>
            </div>
        </fieldset>
        <fieldset class="table-search-fieldset" id="test-paper-answer-preview-fieldset">
            <legend>答案预览</legend>
            <div class="layui-form-item">
                <div class="layui-input-block" id="test-paper-answer-area"
                     style="border-color: black;border-width: 1px;border-style:solid;margin: 0 0 0 0; padding:5% 5% 5% 5%;">
                    <span id="test-paper-answer-preview"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <input style="float: right;" class="layui-btn layui-btn-normal" id="test-paper-answer-export"
                       type="button" value="导出答案"/>
            </div>
        </fieldset>
        <script type="text/javascript">
            $(document).ready(function ($) {
                $("#test-paper-export").click(function (event) {
                    $("#test-paper-area").wordExport("试卷" + String((new Date()).valueOf()));
                });
                $("#test-paper-answer-export").click(function (event) {
                    $("#test-paper-answer-area").wordExport("答案" + String((new Date()).valueOf()));
                });
            });
        </script>
    </div>
</div>
<script>
    function merge(res, columnName, columnIndex) {
        const data = res.data;
        let mergeIndex = 0;
        let mark = 1;
        for (let k = 0; k < columnName.length; k++) {
            const trArr = $(".layui-table-body>.layui-table").find("tr");
            for (let i = 1; i < res.data.length; i++) {
                const tdCurArr = trArr.eq(i).find("td").eq(columnIndex[k]);
                const tdPreArr = trArr.eq(mergeIndex).find("td").eq(columnIndex[k]);
                if (data[i][columnName[k]] === data[i - 1][columnName[k]]) {
                    mark += 1;
                    tdPreArr.each(function () {
                        $(this).attr("rowspan", mark);
                    });
                    tdCurArr.each(function () {
                        $(this).css("display", "none");
                    });
                } else {
                    mergeIndex = i;
                    mark = 1;
                }
            }
            mergeIndex = 0;
            mark = 1;
        }
    }

    const table4CombineCols = [[
        {field: 'type', minWidth: 109, title: '题型', align: "center"},
        {field: 'difficulty', minWidth: 110, title: '难度', align: "center"},
        {
            field: "num", edit: "text", minWidth: 135, align: "center",
            title: '数量 <i data-container="body" data-toggle="popover" data-placement="right"' +
                'data-content="值应为<strong>正整数</strong>" class="fa fa-question-circle"></i>'
        },
        {
            field: "score", edit: "text", minWidth: 135, align: "center",
            title: '单个分值 <i data-container="body" data-toggle="popover" data-placement="right"' +
                'data-content="值应为<strong>正数</strong>" class="fa fa-question-circle"></i>'
        },
        {field: "dScore", minWidth: 135, title: '该难度总分值', align: "center"},
        {field: "tScore", rowspan: 3, minWidth: 135, title: '该题型总分值', align: "center"},
        {field: "checkbox", type: "checkbox", hide: true},
    ]]

    const questionBankCols = [[
        {field: 'type', minWidth: 100, title: '题型', align: "center", sort: true},
        {field: 'difficulty', minWidth: 100, title: '难度', align: "center", sort: false},
        {field: "score", minWidth: 100, title: '单个分值', align: "center", sort: false},
        {field: "num", minWidth: 100, title: '数量', align: "center", sort: false},
    ]]

    layui.use(['form', 'table', 'element'], function () {
        let $ = layui.jquery, form = layui.form, table = layui.table, element = layui.element;

        table.render({
            elem: '#questionBank',
            url: "/api/combine/exists/0",
            cols: questionBankCols,
            skin: 'row line',
            page: false,
            limit: 999,
            done: function (res, curr, count) {
            }
        });

        $("#test-paper-preview-fieldset").hide();
        $("#test-paper-answer-preview-fieldset").hide();

        form.on('select(courseFilter)', function (data) {
            table.render({
                elem: '#questionBank',
                url: "/api/combine/exists/" + data.value,
                cols: questionBankCols,
                skin: 'row line',
                page: false,
                limit: 999,
                done: function (res, curr, count) {
                }
            });
        });

        table.render({
            elem: '#table4Combine',
            url: "/api/combine/init",
            cols: table4CombineCols,
            skin: 'row line',
            page: false,
            limit: 999,
            done: function (res, curr, count) {
                merge(res, ['type'], [0]);
                merge(res, ['type'], [5]);
            }
        });

        table.on("edit(table4CombineFilter)", function (obj) {
            const toBeModify = $(obj.tr.selector + ' td[data-field="' + obj.field + '"] input');
            if (obj.field === "num") {
                if (obj.value.trim() !== "") {
                    const intV = parseInt(obj.value);
                    const v = String(intV);
                    if (intV <= 0 || v === "NaN") {
                        layer.msg('请输入正整数！');
                        toBeModify.val("");
                    }
                    toBeModify.val(v);
                }
            }
            if (obj.field === "score") {
                if (obj.value.trim() !== "") {
                    const floatV = parseFloat(obj.value);
                    const v = String(floatV);
                    if (floatV < 0 || v === "NaN") {
                        layer.msg('请输入正数！');
                        toBeModify.val("");
                    }
                    toBeModify.val(v);
                }
            }

            const checkStatus = table.checkStatus('table4Combine'), checkData = checkStatus.data;
            const result = [];
            for (let i = 0; i < checkData.length; i++) {
                let data = checkData[i];
                result.push(data);
            }
            $.ajax({
                type: 'PUT',
                url: "/api/combine/",
                data: JSON.stringify(result),
                contentType: "application/json",
                success: function (data) {
                    table.render({
                        elem: '#table4Combine',
                        data: data['table'],
                        cols: table4CombineCols,
                        skin: 'row line',
                        page: false,
                        limit: 999,
                        done: function (res, curr, count) {
                            merge(res, ['type'], [0]);
                            merge(res, ['type'], [5]);
                        }
                    });
                    $("#paperScore").val(data['sum']);
                },
                dataType: "json"
            })
        })
    });

    function doCombine() {
        const checkStatus = layui.table.checkStatus('table4Combine'), checkData = checkStatus.data;
        const result = [];
        for (let i = 0; i < checkData.length; i++) {
            let data = checkData[i];
            result.push(data);
        }

        const courseId = $("#course option:selected").val();
        if (courseId === "0") {
            alert("请选择课程！");
            return;
        }

        const paperTitle = $("#paper-title").val();
        if (paperTitle.trim() === "") {
            alert("请输入试卷标题！");
            return;
        }

        layui.$.ajax({
            type: 'POST',
            url: "/api/combine",
            data: {
                "course": courseId,
                "title": paperTitle,
                "plan": JSON.stringify(result),
                "score": $("#paperScore").val(),
            },
            success: function (data) {
                if (data['paperHtml'] === "" && data['answerHtml'] === "") {
                    return;
                }
                $("#test-paper-preview-fieldset").show();
                $("#test-paper-answer-preview-fieldset").show();
                if (data['success'] === true) {
                    $("#test-paper-preview").html(data['paperHtml']);
                    $("#test-paper-preview img").attr("crossorigin", "anonymous");
                    $("#test-paper-answer-preview").html(data['answerHtml']);
                    $("#test-paper-answer-preview img").attr("crossorigin", "anonymous");
                } else {
                    $("#test-paper-preview").html("<strong>组卷出现错误，详情：</strong><br/>" + data['paperHtml']);
                    $("#test-paper-answer-preview").html("<strong>组卷出现错误，详情：</strong><br/>" + data['answerHtml']);
                }
            },
        });
    }
</script>
</body>
</html>